/*
* Mobile view style
* Mare Hunt 2012
* Original Skeleton V1.2 Copyright 2011, Dave Gamache
*/
/* Table of Content
==================================================
    #Site Styles
    #Page Styles
    #Media Queries
    #Font-Face */
/* #Site Styles
================================================== */
body {
  background: #576878 url(../images/noise-120-50-10.png);
  height: 100%; }

h1, h2, h3, h4, p, span, li {
  -webkit-font-smoothing: antialiased; }

p {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5; }

li {
  font-size: 12 px; }

h1, h2, h3, h4 {
  font-family: 'Rambla', 'Helvetica-Neue', sans-serif; }

h1 {
  font-size: 60px; }

/* #Page Styles
================================================== */
#home {
  background: white url(../images/netlogo.jpg) no-repeat 20px 20px; }

#wrapper {
  margin: 140px auto auto auto;
  overflow: visible; }
  #wrapper h1 {
    font-size: 5em;
    color: white;
    background: #b41e50;
    line-height: 1.5;
    padding: 5px 20px; }
  #wrapper h3, #wrapper h1 {
    text-transform: uppercase; }
  #wrapper h3 {
    color: white;
    background: #b41e50;
    line-height: 1.5;
    padding: 5px 20px;
    margin-top: -20px; }
  #wrapper p {
    color: #b41e50; }
  #wrapper li {
    color: #b41e50; }
    #wrapper li a {
      color: #5aa096; }

#grunge {
  margin: 20px auto;
  text-align: center; }
  #grunge a {
    opacity: 1; }
    #grunge a :hover {
      opacity: 0.8; }

/* #Mobile Page Styles
================================================== */
#resize {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 80px;
  background: url(../images/resize.png); }

#content {
  width: 100%; }

#fixhead {
  position: fixed;
  top: 0;
  left: 0;
  height: 83px;
  width: 100%;
  background: #b41e50 url(../images/redbar1.jpg) repeat-x;
  box-shadow: 0 1px 10px #2d343a;
  z-index: 1; }

#fixhead:after {
  content: "";
  background: url(../images/noise-120-50-15.png);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }

#col-twothird {
  background: url(../images/product.jpg) no-repeat 5px 2px;
  float: left;
  z-index: 1; }

#round {
  float: left; }

#col-second {
  float: right;
  width: auto;
  padding-left: 10px; }
  #col-second h4 {
    color: white;
    margin: 17px auto -5px;
    text-shadow: -1px -1px #888888; }
  #col-second strong {
    line-height: 0;
    color: white; }

#col-onethird {
  float: right;
  width: 80px;
  text-align: right;
  padding-right: 10px; }
  #col-onethird h4 {
    color: white;
    text-shadow: -1.5px -1.5px #444444;
    text-align: center;
    margin: 5px auto 1px; }
    #col-onethird h4 small {
      font-size: 60%; }

.button {
  margin-bottom: 0;
  text-transform: uppercase;
  display: block;
  padding: 6px 6px 6px 0px;
  text-decoration: none; }
  .button a, .button a:link {
    text-decoration: none; }
  .button span {
    margin-right: 6px; }
    .button span img {
      padding-right: 6px;
      padding-left: 0px;
      border-right: 1px solid #888; }

#accordion {
  width: 100%;
  clear: both; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  text-decoration: none;
  font-size: 100%; }

.ui-accordion, .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-icon {
  background: url(../images/arrow-accordion.png) no-repeat;
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin-top: -5px;
  float: right; }

.ui-icon-circle-arrow-s {
  background-position: 0 0; }

.ui-icon-circle-arrow-s {
  background-position: -30px 0; }

.ui-menu-icons {
  position: relative;
  float: right; }

.ui-menu-icons .ui-menu-item a {
  position: relative; }

.ui-accordion, .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  padding: .5em .5em .5em .7em;
  zoom: 1; }

.ui-accordion {
  padding: 0; }
  .ui-accordion li {
    padding: 4px 0px 5px 10px;
    background: url(../images/list-dot.jpg) no-repeat 1px 11px;
    margin-bottom: 0px;
    line-height: 12px!important; }

.ui-accordion-header {
  background: black url(../images/bar.jpg) repeat-x;
  padding: 1em;
  color: white;
  color: #ccc;
  box-shadow: 0 1px 10px #2d343a;
  text-shadow: 1px -1px #2d343a;
  border-bottom: 1px solid black; }

.ui-accordion-content {
  background: #c4cbd1; }
  .ui-accordion-content p {
    padding-top: 20px; }

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
  zoom: 1; }

.ui-widget-content {
  color: #2d343a;
  text-shadow: 1px 1px white; }

.flexslider {
  margin: 80px auto -30px;
  border: none;
  box-shadow: none;
  width: 100%; }

.flex-direction-nav .flex-prev {
  opacity: 1;
  left: 0; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flex-direction-nav .flex-disabled {
  opacity: .8!important;
  filter: alpha(opacity=30);
  cursor: default; }

.flex-direction-nav a {
  margin: -20px 10px; }

.flex-direction-nav a {
  z-index: 0!important; }

#footer {
  position: absolute;
  height: 30px;
  width: 100%;
  background: #576878;
  bottom: 0;
  z-index: -1; }
  #footer p {
    text-align: center;
    color: #2d343a;
    line-height: 2; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #resize {
    display: none; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
        Just create a "fonts" folder at the root,
        copy your FontName into code below and remove
        comment brackets */
/*  @font-face {
        font-family: 'FontName';
        src: url('../fonts/FontName.eot');
        src: url('../fonts/FontName.eot?iefix') format('eot'),
             url('../fonts/FontName.woff') format('woff'),
             url('../fonts/FontName.ttf') format('truetype'),
             url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
        font-weight: normal;
        font-style: normal; }
*/
